body {
  margin: 0;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6.5rem;
  color: #655c56;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.87rem;
  color: #655c56;
  margin-bottom: 6.25rem;
}

h3 {
  font-size: 1.5rem;
  color: #655c56;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h4 {
  color: #94d3ac;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.company {
  padding-left: 25%;
}

.period {
  padding-right: 25%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #655c56;
  border-width: 5px;
  width: 5%;
}

.header {
  top: 8px;
  right: 16px;
  position: absolute;
  text-align: right;
}

.row-img1 {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 390px;
  right: 185px;
}

.row-img2 {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 390px;
  right: 110px;
}

.row-img3 {
  height: 55px;
  width: 55px;
  position: absolute;
  top: 385px;
  right: 30px;
}

.mountain {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 6.25rem;
}

.top-container {
  position: relative;
  background-color: #effcef;
}

.middle-container {
  background-color: #effcef;
}

.h2-middle {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #655c56;
  margin-top: 0;
}

.experience {
  margin-top: 6.25rem;
}

.experience-row {
  padding-bottom: 6.25rem;
}

.about {
  font-family: 'Archivo', sans-serif;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  text-align: center;
  color: #655c56;
}

p {
  font-family: 'Archivo', sans-serif;
  color: #655c56;
}

.projects {
  margin-top: 6.25rem;
}

.project-row {
  margin: 6.25rem auto 6.25rem auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.content {
  overflow: hidden;
}

.project-title {
  text-align: left;
}

.project-link {
  background-color: #ccedd2;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Archivo', sans-serif;
  color: #655c56;
  box-sizing: border-box;
  border-radius: 4px;
}

.appdev-img {
  height: 190px;
  width: 300px;
  margin-right: 30px;
  float: left;
  margin-top: 1.33em;
}

.dataviz-img {
  height: 200px;
  width: 300px;
  margin-left: 30px;
  float: right;
  margin-top: 1.33em;
}

.tf-img {
  height: 200px;
  width: 300px;
  margin-right: 30px;
  float: left;
  margin-top: 1.33em;
}

.resume {
    background-color: #ccedd2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Archivo', sans-serif;
    color: #655c56;
    margin-top: 3rem;
    margin-bottom: 5.25rem;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact {
  margin-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.message {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  text-align: center;
  padding-bottom: 6.25rem;
}

.email-link {
  font-family: 'Archivo', sans-serif;
  color: #655c56;
}

.send {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

label {
  font-family: 'Archivo', sans-serif;
  color: #655c56;
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin: 8px 0;
  border-radius: 4px;
  color: #655c56;
  font-family: 'Archivo', sans-serif;
  outline: none;
  background-color: #ccedd2;
  font-size: 14px;
  border: none;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 8px 0;
  color: #655c56;
  font-family: 'Archivo', sans-serif;
  outline: none;
  resize: none;
  background-color: #ccedd2;
  font-size: 14px;
  border: none;
}

input[type=submit] {
  background-color: #ccedd2;
  border: none;
  color: #655c56;
  font-family: 'Archivo', sans-serif;
  padding: 16px 32px;
  text-decoration: none;
  margin: 10px 42.5%;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 4px;
}

.bottom-container {
  background-color: #655c56;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.footer {
  font-family: 'Archivo', sans-serif;
  color: #ccedd2;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: right;
}

.github {
  height: 20px;
  width: 20px;
  padding-top: 0.85rem;
  float: right;
  margin-right: 39%;
  margin-left: 10px;
}
